---
layout: default
---

{% include 'shared/association_topbar.njk' %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{ content | safe }}
    </div>

    <div class="col-md-4">
        <div class="well">
            {% include 'shared/sidebar_nav.njk' %}
        </div>
    </div>

  </div>
</div>