---
layout: default
---

{% include 'shared/community_topbar.njk' %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{ content | safe }}

      {# Backlinks: show within main column for Obsidian pages only #}
      {% set backlinks = (page.url | obsidianBacklinks) %}
      {% if (page.url | stringContains('/wiki/')) and backlinks and backlinks.length %}
        <section class="backlinks">
          <hr>
          <h3>Backlinks</h3>
          <ul>
            {% for item in backlinks %}
              <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    </div>
    <div class="col-md-4">
        <div class="well site-sidebar">
            {% include 'shared/sidebar_nav.njk' %}
        </div>
    </div>
  </div>
</div>
