---
sitename:    "Christian Transhumanist Association: Faith, Technology, and the Future"
title:       "Christian Transhumanist Association: Faith, Technology, and the Future"
description: Christian Transhumanism is about Faith, Technology, and a better future for all humanity
url:         https://www.christiantranshumanism.org
type:        website
image:       https://www.christiantranshumanism.org/cta_logo_standalone_small.png
app_id:      1419101968307341
creator:     "@xianityplus"
body_classes:  ""
---
<!DOCTYPE html>
<html lang="en">

  {% include 'head.njk' %}

  <body class="{{ body_classes }}">

    {% include 'header.njk' %}

    <main role="main">
      {{ content | safe }}
    </main>

    {% include 'footer.njk' %}

    <!-- AI Assistant Chat Widget -->
    <script src="https://cloud.lincolncannon.co/lib/assistant.min.js"></script>
  </body>

</html>