---
layout: default
---

{% include 'shared/election_topbar.njk' %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{ content | safe }}

      {% include 'shared/backlinks-panel.njk' %}
    </div>

    <div class="col-md-4">
        <div class="well site-sidebar">
            {% include 'shared/sidebar_nav.njk' %}
        </div>
    </div>

  </div>
</div>
