---
layout: default
---

<div class="resource-page">
{% include 'shared/resources_topbar.njk' %}

<div class="container">
  <div class="row">
    <div class="col-md-8">

      {# Mission article hero image (if this page is a mission article) #}
      {% if page.url and ('/mission/' in page.url) %}
        {% include 'shared/mission-article-hero.njk' %}
      {% endif %}

      {# If no H1 is present in content, render a header from the page title #}
      {% if not (content and ('<h1' in content)) %}
        {% if title %}<h1>{{ title }}</h1>{% endif %}
      {% endif %}

      {{ content | safe }}

      {# Backlinks: show within main column for Obsidian pages only #}
      {% set backlinks = (page.url | obsidianBacklinks) %}
      {% if (page.url | stringContains('/wiki/')) and backlinks and backlinks.length %}
        <section class="backlinks">
          <hr>
          <h3>Backlinks</h3>
          <ul>
            {% for item in backlinks %}
              <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}

      {# Related articles within the same Mission section #}
      {% if page.url and ('/mission/' in page.url) %}
        <hr>
        {% include 'shared/related-mission-articles.njk' %}
      {% endif %}

      {% if disqus_id %}
      <div class="row">
        <div class="col-md-12">

          {% include 'shared/disqus_thread.njk' %}

        </div>
      </div>
      {% endif %}

    </div>

    <div class="col-md-4">
        <div class="well site-sidebar">
            {% include 'shared/sidebar_nav.njk' %}
        </div>
    </div>

  </div>
</div>
</div>
