---
layout: default
---

{% include 'shared/resources_topbar.njk' %}

<div class="container">
  <div class="row">
    <div class="col-md-8">

      {{ content | safe }}

      {% if disqus_id %}
      <div class="row">
        <div class="col-md-12">

          {% include 'shared/disqus_thread.njk' %}

        </div>
      </div>
      {% endif %}

    </div>

    <div class="col-md-4">
        <div class="well">
            {% include 'shared/sidebar_nav.njk' %}
        </div>
    </div>

  </div>
</div>
