---
layout: default
---

<div class="resource-page">
{% set currentUrl = page.url or '' %}
{% if '/mission/' in currentUrl %}
  {% include 'shared/mission_topbar.njk' %}
{% elseif currentUrl == '/about/' %}
  {% include 'shared/association_topbar.njk' %}
{% elseif currentUrl == '/faq/' or currentUrl == '/quotes/' or (currentUrl | stringContains('/wiki/')) %}
  {% include 'shared/content_topbar.njk' %}
{% else %}
  {% include 'shared/mission_topbar.njk' %}
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-8">

      {# Mission article hero image (if this page is a mission article) #}
      {% if page.url and ('/mission/' in page.url) %}
        {% include 'shared/mission-article-hero.njk' %}
      {% endif %}

      {# If no H1 is present in content, render a header from the page title #}
      {% if not (content and ('<h1' in content)) %}
        {% if title %}<h1>{{ title }}</h1>{% endif %}
      {% endif %}

      {{ content | safe }}

      {% include 'shared/backlinks-panel.njk' %}

      {# Related articles within the same Mission section #}
      {% if page.url and ('/mission/' in page.url) %}
        <hr>
        {% include 'shared/related-mission-articles.njk' %}
      {% endif %}

      {% if disqus_id %}
      <div class="row">
        <div class="col-md-12">

          {% include 'shared/disqus_thread.njk' %}

        </div>
      </div>
      {% endif %}

    </div>

    <div class="col-md-4">
        <div class="well site-sidebar">
            {% include 'shared/sidebar_nav.njk' %}
        </div>
    </div>

  </div>
</div>
</div>
