# Specify filepatterns you want git to ignore.

node_modules
_site
.DS_Store
.cache
src/assets/*
!src/assets/icons/
!src/assets/icons/**
!src/assets/site.js
.env
.obsidian/
src/obsidian/.obsidian/
src/cta-wiki/.smart-env
.claude
