<!-- Blog Authors Well -->
<% if @authors.present? %>
  <div class="well">
      <h4>Authors</h4>
      <div class="row">
          <div class="col-lg-6">
              <ul class="list-unstyled">
                <% @authors.each do |author| %>
                  <li><%= link_to author.name, author %></li>
                <% end %>
              </ul>
          </div>
  <!--         <div class="col-lg-6">
              <ul class="list-unstyled">
                <% @authors.each do |author| %>
                  <li><%= link_to author.name, author %></li>
                <% end %>
              </ul>
          </div> -->
      </div>
      <!-- /.row -->
  </div>
<% end %>