<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation" class="{% if page.url == "/about/" %} active {% endif %}">
      <a href="/about/">About</a>
    </li>
    <li role="presentation" class="{% if page.url == "/executive-director/" %} active {% endif %}">
      <a href="/executive-director/">Executive Director</a>
    </li>
    <li role="presentation" class="{% if page.url == "/board/" %} active {% endif %}">
      <a href="/board/">The Board</a>
    </li>
    <li role="presentation" class="{% if page.url == "/academics/" %} active {% endif %}">
      <a href="/academics/">Academic Advisory Council</a>
    </li>
    <li role="presentation" class="{% if page.url == "/history/" %} active {% endif %}">
      <a href="/history/">Our History</a>
    </li>
  </ul>
</div>
