<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation" class="">
      <a href="/facebook/">Facebook Group</a>
    </li>
    <li role="presentation" class="">
      <a href="/twitter/">Twitter</a>
    </li>
    <li role="presentation" class="{% if page.url == "/volunteer/" %} active {% endif %}">
      <a href="/volunteer/">Volunteer Opportunities</a>
    </li>
    <li role="presentation" class="{% if page.url == "/meetup/" %} active {% endif %}">
      <a href="/meetup/">Meetup in Nashville</a>
    </li>
  </ul>
</div>
