<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation" class="{% if page.url == "/blog/" %} active {% endif %}">
      <a href="/blog/">Official Posts</a>
    </li>
    <li role="presentation" class="{% if page.url == "/blog/community/" %} active {% endif %}">
      <a href="/blog/community/">Community Posts</a>
    </li>
    <li role="presentation" class="{% if page.url == "/videos/" %} active {% endif %}">
      <a href="/videos/">Videos</a>
    </li>
    <li role="presentation" class="{% if page.url == "/podcast/" %} active {% endif %}">
      <a href="/podcast/">Podcast</a>
    </li>
    <li role="presentation" class="{% if page.url == "/press/" %} active {% endif %}">
      <a href="/press/">Press</a>
    </li>
  </ul>
</div>
