<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation" class="<%= 'active' unless current_page?(community_path) || current_page?(podcast_path) %>">
      <a href="/blog/">Official Posts</a>
    </li>
    <li role="presentation" class="<%= 'active' if current_page?(community_path) %>">
      <a href="/blog/community/">Community Posts</a>
    </li>
    <li role="presentation" class="<%= 'active' if current_page?(podcast_path) %>">
      <a href="/podcast/">Christian Transhumanist Podcast</a>
    </li>
  </ul>
</div>
