<section class="container home-stories-cta">
  <h3 class="home-stories-cta__heading">Whatever path brought you here&mdash;there&rsquo;s a place for you.</h3>
  <p class="home-stories-cta__actions">
    <a class="btn btn-primary btn-lg" href="/join">Join Us</a>
    <a class="btn btn-default btn-lg" href="/vision">Explore the Vision</a>
  </p>
</section>
