<section class="home-hero"><br><br>
  <section class="container text-center" id="intro">
    <h1>Could Science & Faith work together <br /> to create a radically better Future?</h1>
    <br /><br />
    <p class="hero-actions">
      <a class="btn btn-primary btn-lg" href="/join">Join Us</a>
      <a class="btn btn-default btn-lg" href="/mission/">Explore the Mission</a>
    </p>
  </section>
</section>
