<div id="join" class="fh5co-pricing" data-section="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
        <h2 class="fh5co-lead animate-single pricing-animate-1">Support the Affirmation? Join us!</h2>
      </div>

      {% include 'shared/join_minimal.njk' %}

    </div>

  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p>Already a member? <a href="/users/membership/voting">Sign in!</a></p>
    </div>
  </div>
</div>

