      <div class="fh5co-pricing-column col-md-4 col-md-offset-2 to-animate">
        <a href="https://www.christiantranshumanism.org/users/sign_up?tier=free" class="fh5co-figure">
          <span class="fh5co-price">Free<span></span></span>
          <h3 class="fh5co-figure-lead">Basic Membership</h3>
          <p class="fh5co-figure-text">Support the association, and participate in our discussion boards, email lists, and in-person meetups.</p>
        </a>
      </div>
      <div class="fh5co-pricing-column col-md-4 to-animate">
        <a href="https://www.christiantranshumanism.org/users/sign_up?tier=voting" class="fh5co-figure active pricing-feature">
          <span class="fh5co-price">$100<span>/year</span></span>
          <h3 class="fh5co-figure-lead">Voting Membership</h3>
          <p class="fh5co-figure-text">Vote in yearly elections, and help direct the future of the Association. Your donation goes to supporting the ongoing work of the CTA, and efforts like the Embrace Infant Warmer project.</p>
        </a>
      </div>
      <!-- if session[:registration_plan] == 'student' 
        <div class="fh5co-pricing-column col-md-4 col-md-offset-4 to-animate">
          <a href="https://www.christiantranshumanism.org/users/sign_up?tier=voting" class="fh5co-figure">
            <span class="fh5co-price">$50<span>/year</span></span>
            <h3 class="fh5co-figure-lead">Student Membership</h3>
            <p class="fh5co-figure-text">For students, members of developing countries, or those with reduced financial capacity.</p>
          </a>
        </div>
      //-->