{# Renders related mission articles for the same section (Nunjucks) #}
{% set section = key %}
{% if not section or section == '' %}
  {% set url = page.url %}
  {% if '/mission/faith/' in url %}
    {% set section = 'faith' %}
  {% elif '/mission/technological/' in url %}
    {% set section = 'technological' %}
  {% elif '/mission/theological/' in url %}
    {% set section = 'theological' %}
  {% endif %}
{% endif %}

{% set list = missionArticles[section] %}
{% set landingPages = ['/mission/faith/', '/mission/technological/', '/mission/theological/'] %}
{% set isLandingPage = page and page.url and page.url in landingPages %}
{% if list and list.length > 0 and not isLandingPage %}
  <div class="related-mission">
    <h3 class="h5" style="margin-top:2rem;">More in {{ section | capitalize }}</h3>
    <div class="feature-grid">
      {% set count = 0 %}
      {% for item in list %}
        {% if item.url != page.url and count < 3 %}
          <a class="feature-card" href="{{ item.url }}">
            <span class="feature-card__media" style="background-image: url('{{ item.image | cdnImage("c_fill,g_auto,f_auto,q_auto,w_600,h_220,dpr_auto") }}');"></span>
            <span class="feature-card__body">
              <h4 class="feature-card__title">{{ item.title }}</h4>
            </span>
          </a>
          {% set count = count + 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
