{% set currentUrl = page.url or '' %}
<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation" class="{% if currentUrl == '/mission/' %} active {% endif %}">
      <a href="/mission/">Mission</a>
    </li>
    <li role="presentation" class="{% if '/mission/theological/' in currentUrl %} active {% endif %}">
      <a href="/mission/theological/">Theology</a>
    </li>
    <li role="presentation" class="{% if '/mission/technological/' in currentUrl %} active {% endif %}">
      <a href="/mission/technological/">Technology</a>
    </li>
    <li role="presentation" class="{% if '/mission/faith/' in currentUrl %} active {% endif %}">
      <a href="/mission/faith/">Faith</a>
    </li>
    <li role="presentation" class="{% if currentUrl == '/affirmation/' %} active {% endif %}">
      <a href="/affirmation/">Affirmation</a>
    </li>
  </ul>
</div>
