<ul class="list-unstyled sidebar-nav">
  {% for item in sidebarMenuItems %}
    {% if item.children %}
      <li class="{% if page.url == item.url or (item.url in page.url) %} active {% endif %}"><a href="{{ item.url }}">{{ item.title }}</a><ul>

        {% for item in item.children %}
          {% if item.children %}
            <li class="{% if page.url == item.url or (item.url in page.url) %} active {% endif %}"><a href="{{ item.url }}">{{ item.title }}</a><ul>

              {% for item in item.children %}
                {% if item.children %}
                  <li class="{% if page.url == item.url or (item.url in page.url) %} active {% endif %}"><a href="{{ item.url }}">{{ item.title }}</a><ul>

                    {% for item in item.children %}
                      {% if item.children %}
                        <li class="{% if page.url == item.url or (item.url in page.url) %} active {% endif %}"><a href="{{ item.url }}">{{ item.title }}</a><ul>
                        </ul></li>
                      {% else %}
                        <li class="{% if page.url == item.url or (item.url in page.url) %} active {% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
                      {% endif %}
                    {% endfor %}

                  </ul></li>
                {% else %}
                  <li class="{% if page.url == item.url or (item.url in page.url) %} active {% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endif %}
              {% endfor %}

            </ul></li>
          {% else %}
            <li class="{% if page.url == item.url or (item.url in page.url) %} active {% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}

      </ul></li>
    {% else %}
      <li class="{% if page.url == item.url or (item.url in page.url) %} active {% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
