---
permalink: _redirects
---
/users               https://www.christiantranshumanism.org/users
/reports/membership  https://docs.google.com/spreadsheets/d/1BXFKl4Gw5XIsaL3uCJoC6MFMXx9VARFUhD6lM0Hpo5A/edit?usp=sharing
/reports/treasurer   https://docs.google.com/spreadsheets/d/1GWAMO-WeAYLjhrEPD4a-IZmeD424bAmASGQQvZOx-78/edit?usp=sharing
/paypal              https://www.paypal.me/ChristianTranshuman
/zoom                https://us06web.zoom.us/j/7194890185?pwd=M242ajdxMWd5c2RVRzVRMmlFaWdyQT09
/calendar            https://calendar.google.com/calendar/embed?src=admin%40christiantranshumanism.org&ctz=America%2FChicago
/calendar/gcal       https://calendar.google.com/calendar/u/0?cid=YWRtaW5AY2hyaXN0aWFudHJhbnNodW1hbmlzbS5vcmc
/calendar/ical       https://calendar.google.com/calendar/ical/admin%40christiantranshumanism.org/public/basic.ics
/clubhouse           https://www.joinclubhouse.com/club/christian-transhumanism
/facebook            http://facebook.com/groups/ChristianTranshumanistAssociation
/twitter             http://twitter.com/xianityplus
/youtube             https://www.youtube.com/c/ChristianTranshumanism?sub_confirmation=1
/group               https://groups.google.com/forum/#!forum/christian-transhumanism
/reddit              https://www.reddit.com/r/christianityplus/
/email               http://eepurl.com/bdyIg5
/meetup-group        https://www.meetup.com/christian-transhumanism
