---
permalink: _redirects
---
/users                   https://members.christiantranshumanism.org/users
/users/membership/voting https://billing.stripe.com/p/login/aEU4gEburadBcTu288
/users/membership        /users/membership/voting
/join/voting             https://buy.stripe.com/14k5lzbTH56N5aw4gg
/join/student            /join/voting
/join/free               http://eepurl.com/bdyIg5
/board-election/nominate https://forms.gle/PDxbKhupnxoV7a4i6
/board-election/vote     https://forms.gle/dQJKWTtKaKsn7Uke6
/reports/membership      https://docs.google.com/spreadsheets/d/1BXFKl4Gw5XIsaL3uCJoC6MFMXx9VARFUhD6lM0Hpo5A/edit?usp=sharing
/reports/treasurer       https://docs.google.com/spreadsheets/d/1GWAMO-WeAYLjhrEPD4a-IZmeD424bAmASGQQvZOx-78/edit?usp=sharing
/paypal                  https://www.paypal.me/ChristianTranshuman
/zoom                    https://us06web.zoom.us/j/7194890185?pwd=M242ajdxMWd5c2RVRzVRMmlFaWdyQT09
/calendar                https://calendar.google.com/calendar/embed?src=admin%40christiantranshumanism.org&ctz=America%2FChicago
/calendar/gcal           https://calendar.google.com/calendar/u/0?cid=YWRtaW5AY2hyaXN0aWFudHJhbnNodW1hbmlzbS5vcmc
/calendar/ical           https://calendar.google.com/calendar/ical/admin%40christiantranshumanism.org/public/basic.ics
/clubhouse               https://www.joinclubhouse.com/club/christian-transhumanism
/facebook                http://facebook.com/groups/ChristianTranshumanistAssociation
/bluesky                 https://bsky.app/profile/christiantranshumanism.org
/discord                 https://discord.gg/cC8H4CJBaB
/twitter                 http://twitter.com/xianityplus
/youtube                 https://www.youtube.com/c/ChristianTranshumanism?sub_confirmation=1
/group                   https://groups.google.com/forum/#!forum/christian-transhumanism
/reddit                  https://www.reddit.com/r/christianityplus/
/email                   http://eepurl.com/bdyIg5
/meetup-group            https://www.meetup.com/christian-transhumanism
/substack                https://christiantranshumanism.substack.com
