---
title: Christian Transhumanist Affirmation
description: As members of the Christian Transhumanist Association, we affirm.
layout: default
---

{% include 'shared/resources_topbar.njk' %}

{% include 'shared/affirmation.njk' %}

<section class="container affirmation-section text-center" id="affirmation">
<br />
<p><a href="/join" class="btn btn-primary btn-lg">Join Us!</a></p>
</section>