---
title: CTA Launch Announcement
layout: default
---

<div class="container">
  <h1>Announcement</h1>

<p>&nbsp;</p>
<p>Technology is growing at an exponential rate. Currently, it has reached its highest point of development in the history of humanity. There are some people in the world that would choose to use these developments solely for their personal gain, forsaking their humanity. We believe that there is a better way.</p>
<p>In April of 2014, after much prayer and deliberation, a small group of us felt called to unite with the hope of forming an organization dedicated to helping bring about that better way. It was thus with the encouragement of many others that the Christian Transhumanist Association was formed.</p>
<p>Our Goal: To actively pursue the development and utilization of human technology so as to participate in Jesus Christ&rsquo;s redeeming purposes in the world. Our guide for doing so comes from Jesus&rsquo; Biblical command to &ldquo;Love the Lord your God with all your heart, soul, mind, and strength&hellip;and love your neighbor as yourself.&rdquo; We believe that this intentional use of technology, coupled with obedience in following Christ&rsquo;s commands, will help us to better understand our humanity. Even more than that, though, we are convinced that this understanding will empower humanity to become more human across the scope of what it means to be creatures made in the image of God. As such, we seek not the forfeiture of our humanity and the created world, but instead, the bettering of them both. In this way we consider ourselves to be Christian Transhumanists.&nbsp;</p>
<p><br /><a class="button" href="/join"><strong>Sign up and join the campaign here.</strong></a></p>
<p><a class="button" href="/about">Find out more about the Christian Transhumanist Association</a>&nbsp;</p>

</div>