---
title: Christian Transhumanist News
description: News and Announcements about the leading association for faith and technology
layout: default
pagination:
  data: collections.post
  size: 10
  reverse: true
permalink: "blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
<div class="blog-page blog-index">
{% include 'shared/content_topbar.njk' %}

<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                News &amp; Announcements
                <small>about the CTA</small>
            </h1>

            {% for post in pagination.items %}
                <div class="blog-post">
                    <div class="row">
                        {% set postImage = post.data.image %}
                        {% if postImage %}
                        <div class="col-md-4">
                            <a href="{{ post.url }}" class="post-image-link">
                                <img src="{{ postImage }}" alt="{{ post.data.title }}" class="img-responsive post-image" loading="lazy">
                            </a>
                        </div>
                        <div class="col-md-8">
                        {% else %}
                        <div class="col-md-12">
                        {% endif %}
                            <h2 class="post-title">
                                <a href="{{ post.url }}">{{ post.data.title }}</a>
                            </h2>

                            <p class="post-meta">
                                by <span class="post-author">{{ post.data.author }}</span>
                                <span class="post-date"><span class="glyphicon glyphicon-time"></span> {{ post.data.date }}</span>
                            </p>

                            <div class="post-excerpt">
                                {{ post.templateContent | striptags | truncate(280, true, '…') }}
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

            {% endfor %}


            {% if pagination.href.previous or pagination.href.next %}
              <ul class="pager">
                {% if pagination.href.previous %}
                <li class="previous"><a href="{{ pagination.href.previous }}">&larr; Newer</a></li>
                {% endif %}
                {% if pagination.href.next %}
                <li class="next"><a href="{{ pagination.href.next }}">Older &rarr;</a></li>
                {% endif %}
              </ul>
            {% endif %}

        </div>

        <div class="col-md-4">
            <div class="well site-sidebar">
                {% include 'shared/sidebar_nav.njk' %}
            </div>
        </div>

    </div>
    <!-- /.row -->

    
</div>
<!-- /.container -->
</div>
