---
title: Christian Transhumanist News
description: News and Announcements about the leading association for faith and technology
layout: default
---
{% include 'shared/content_topbar.njk' %}

<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                News &amp; Announcements
                <small>about the CTA</small>
            </h1>

            {% for post in collections.post %}
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <a href="{{ post.url }}">{{ post.data.title }}</a>
                        </h2>
                    </div>

                    <div class="col-md-4">
                        <img class="img-responsive" src="{{ post.data.image }}" alt="{{ post.data.title }}">
                    </div>

                    <div class="col-md-8">

                        <p class="lead">
                            by {{ post.data.author }}
                        </p>

                        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.data.created_at }}</p>

                        <p>{{ post.templateContent | safe }}</p>
                        <a class="btn btn-primary" href="{{ post.permalink }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>

                <hr>

            {% endfor %}

            {% if @pager_widget_on %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>
            {% endif %}

        </div>

        <div class="col-lg-4">
            <div class="well">
                <h4>Guests</h4>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            {% for guest in guests %}
                                <li><a href="{{ guest.url }}">{{ guest.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- /.row -->

    <hr>

    {% include 'shared/footer.njk' %}

</div>
<!-- /.container -->
