---
title: Christian Transhumanist News
description: News and Announcements about the leading association for faith and technology
layout: default
pagination:
  data: collections.post
  size: 10
  reverse: true
permalink: "blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
<div class="blog-page">
{% include 'shared/content_topbar.njk' %}

<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                News &amp; Announcements
                <small>about the CTA</small>
            </h1>

            {% for post in pagination.items %}
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <a href="{{ post.url }}">{{ post.data.title }}</a>
                        </h2>
                    </div>

                    <div class="col-md-4">
                        <a href="{{ post.url }}" class="media-thumb"><img src="{{ post.data.image }}" alt="{{ post.data.title }}" loading="lazy"></a>
                    </div>

                    <div class="col-md-8">

                        <p class="lead">
                            by {{ post.data.author }}
                        </p>

                        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.data.date }}</p>

                        <p>{{ post.templateContent | striptags | truncate(280, true, '…') }}</p>
                        <a class="btn btn-primary" href="{{ post.url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>

                <hr>

            {% endfor %}


            {% if pagination.href.previous or pagination.href.next %}
              <ul class="pager">
                {% if pagination.href.previous %}
                <li class="previous"><a href="{{ pagination.href.previous }}">&larr; Newer</a></li>
                {% endif %}
                {% if pagination.href.next %}
                <li class="next"><a href="{{ pagination.href.next }}">Older &rarr;</a></li>
                {% endif %}
              </ul>
            {% endif %}

        </div>

        <div class="col-md-4">
            <div class="well site-sidebar">
                {% include 'shared/sidebar_nav.njk' %}
            </div>
        </div>

    </div>
    <!-- /.row -->

    
</div>
<!-- /.container -->
</div>
