---
title: Christian Transhumanist Community
description: Posts from our diverse community
permalink: "blog/community/"
layout: default
---

{% include 'shared/content_topbar.njk' %}

<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                Posts
                <small>from our diverse community</small>
            </h1>

            {% for post in community %}
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <a href="{{ post.link }}">{{ post.title }}</a>
                        </h2>
                    </div>

                    <div class="col-md-12">

                        <p class="lead">
                            by {{ post.author | nameFromRSSAuthor }}
                        </p>

                        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.pubDate | default("2000") }}</p>

                        <p>{{ post.content | truncate }}</p>
                    </div>
                </div>

                <hr>

            {% endfor %}

            {% if @pager_widget_on %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>
            {% endif %}

        </div>

        <div class="col-md-4">
            <div class="well">
                {% include 'shared/sidebar_nav.njk' %}
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    {% include 'shared/footer.njk' %}

</div>
<!-- /.container -->
