---
layout: conferencePage
body_classes: conference
permalink: "conference/2018/"
---
<header class="conference-flyer-2018 jumbotron">
  <h1>Faith, Technology &amp; The Future</h1>
    <h3>
      Lipscomb University • August 25th • Christian Transhumanist Conference 2018
    </h3>

    <ul class="conference-cta-wrapper">
      <li>
        <a class="btn-primary btn-lg" target="_blank" href="/join">Join the Association!</a>
      </li>
    </ul>
</header>

<a id="intro"></a>

<section class="container" id="program">
  <h3 id="schedule">Schedule <em>(subject to change!)</em></h3>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
      <tr data-toggle="collapse" data-target="#8-30" class="accordion-toggle" style="background-color: lightgreen;">
          <th scope="row">8:30</th>
            <td colspan="2">COFFEE &amp; REGISTRATION — <em>First 100 attendees get free Thrivous Nootropics!</em></td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="8-30" style="padding: 8px;">

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#9-00" class="accordion-toggle" style="">
          <th scope="row">9:00</th>
            <td colspan="2">WELCOME</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="9-00" style="padding: 8px;">

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#9-15" class="accordion-toggle" style="">
          <th scope="row">9:15</th>
            <td>Ted Peters</td>
            <td>The Promise and Peril of Technological Hope</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="9-15" style="padding: 8px;">

              <div class="row" id="ted-peters">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/Ted_20Peters_cam1ya.jpg" alt="Ted 20peters cam1ya">
  </div>
  <div class="col-md-9">
    <p><strong>Ted Peters</strong> is a Lutheran theologian and Professor of Systematic Theology at Pacific Lutheran Theological Seminary. He is author of&nbsp;GOD—The World’s Future&nbsp;(Fortress 2000) and&nbsp;Science, Theology, and Ethics&nbsp;(Ashgate 2003). He serves as editor of Theology and Science, by the Center for Theology and the Natural Sciences in Berkeley.</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#9-45" class="accordion-toggle" style="">
          <th scope="row">9:45</th>
            <td>Newton Lee</td>
            <td>What did Jesus teach us about benevolent Transhumanism?</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="9-45" style="padding: 8px;">

              <div class="row" id="newton-lee">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/newton_lee" alt="Newton lee">
  </div>
  <div class="col-md-9">
    <p><strong>Newton Lee</strong> is an author, educator, and futurist. He was the founder of Disney Online Technology Forum, creator of AT&amp;T Bell Labs' first-ever commercial artificial intelligence tool, and inventor of the world's first annotated multimedia OPAC for the U.S. National Agricultural Library.</p>

<p>He is chairman of the California Transhumanist Party, education and media advisor to the United States Transhumanist Party, and president of the 501(c)(3) nonprofit Institute for Education, Research, and Scholarships.</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#10-00" class="accordion-toggle" style="">
          <th scope="row">10:00</th>
            <td>Jurnell Cockhren</td>
            <td>Quanta of Social Change</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="10-00" style="padding: 8px;">
              <h4>Quanta of Social Change</h4>
              <p>Social Inequities are instances where the UX of American Society differs between subgroups of people. Oppressed populations are keenly aware of the disparity between the current and desired states of society. It is within our reach as thinkers to build a model the that helps us grasp our desire for equality. As Technologists, we are capable of defining tasks that with both magnitude and directionality that are both accessible and scalable. It is feasible for Humans to function within a model, a way of living, that reduces instances of Social Inequality. This talk will propose an algorithm for determining the set of tasks needed to minimize the Social Inequities across gender, race, ethnicity and socio-economic status.</p>
              <br>

              <div class="row" id="jurnell-cockhren">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/jurnell_cockhren" alt="Jurnell cockhren">
  </div>
  <div class="col-md-9">
    <p><strong>Jurnell Cockhren</strong> has over a decade of experience in creating and contributing to Open Source software with a work history spanning Computer Science, Neuroscience, Optics and Astronomy providing him an enriched perspective of the applied sciences. He is the Founder of <strong>Civic Hacker</strong>, with the mission of: Be the source code of social change. Jurnell’s affiliations include <strong>Black in Tech Nashville</strong>, Python Software Foundation, N.A.A.C.P. and the National Society of Black Engineers.</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#10-15" class="accordion-toggle" style="">
          <th scope="row">10:15</th>
            <td>Ryan Hogan, Mike Morrell, Travis Kupp</td>
            <td>Survival of the Richest: Will the rich leave us behind?</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="10-15" style="padding: 8px;">

              <div class="row" id="ryan-hogan">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/ryan_hogan" alt="Ryan hogan">
  </div>
  <div class="col-md-9">
    <p><strong>Ryan Hogan</strong> is a futurist and a business analyst for Emerging Technologies at <strong>Mozilla</strong>. He has an MBA in Strategic Foresight, and has worked with companies like <strong>Lyft</strong> and <strong>Deep Space Ecology</strong> — to design open-ended sustainable futures, and to prepare for human life on Mars.</p>

    
  </div>
</div>
<div class="row" id="mike-morrell">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/mike_morrell.jpg" alt="Mike morrell">
  </div>
  <div class="col-md-9">
    <p><strong>Mike Morrell</strong> is the collaborating author, with Fr. Richard Rohr, on the best-selling 'Divine Dance: The Trinity and Your Transformation,' founder of Wisdom Camp, and a founding organizer of the justice, arts, and spirituality Wild Goose Festival. Mike curates contemplative and community experiences via Relational Yoga, the ManKind Project, and Authentic North Carolina, taking joy in holding space for the extraordinary transformation that can take place at the intersection of anticipation, imagination, and radical acceptance. Mike lives with his wife and two daughters in Asheville, North Carolina. You can read Mike’s ongoing exploration of Spirit, Culture, and Permaculture at MikeMorrell.org.</p>

    
  </div>
</div>
<div class="row" id="travis-kupp">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/travis_kupp.jpg" alt="Travis kupp">
  </div>
  <div class="col-md-9">
    <p><strong>Travis Kupp</strong> is a design strategist and futurist with a knack for helping organizations with over a century of history to envision futures and take action. As <strong>Design &amp; Strategic Foresight Lead</strong> at SunTrust, Travis is actively creating the future of banking and financial services drawing on his experience with distributed ledger technology, mobility-as-a-service, and transactive energy. When not leading futures engagements he collects hobbies, which now include bartending, music production, sailing, woodworking, and Aikido. Travis also organizes the Atlanta chapter of the Speculative Futures meetup group.</p>

    
  </div>
</div>
<div class="row" id="jurnell-cockhren">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/jurnell_cockhren" alt="Jurnell cockhren">
  </div>
  <div class="col-md-9">
    <p><strong>Jurnell Cockhren</strong> has over a decade of experience in creating and contributing to Open Source software with a work history spanning Computer Science, Neuroscience, Optics and Astronomy providing him an enriched perspective of the applied sciences. He is the Founder of <strong>Civic Hacker</strong>, with the mission of: Be the source code of social change. Jurnell’s affiliations include <strong>Black in Tech Nashville</strong>, Python Software Foundation, N.A.A.C.P. and the National Society of Black Engineers.</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#10-45" class="accordion-toggle" style="background-color: lightgreen;">
          <th scope="row">10:45</th>
            <td colspan="2">BREAK — <em>and giveaways!</em></td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="10-45" style="padding: 8px;">

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#11-00" class="accordion-toggle" style="">
          <th scope="row">11:00</th>
            <td>Micah Redding</td>
            <td>What is Christian Transhumanism?</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="11-00" style="padding: 8px;">

              <div class="row" id="micah-redding">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/micah_redding_erika_chambers_bw_medium_cwvcih.jpg" alt="Micah redding erika chambers bw medium cwvcih">
  </div>
  <div class="col-md-9">
    <p><strong>Micah Redding</strong> is Executive Director of the Christian Transhumanist Association, and a software developer who has worked with companies like Dave Ramsey, the City of Franklin, and numerous startups. Redding grew up as a preacher's son, spent eight years as a rock musician, and has traveled extensively, including places such as Afghanistan during the war, and Tahrir Square during the revolution.</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#11-30" class="accordion-toggle" style="">
          <th scope="row">11:30</th>
            <td>Blaire Ostler</td>
            <td>Faith, Works, Grace, and Tacos</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="11-30" style="padding: 8px;">
              <h4>Faith, Works, Grace, and Tacos</h4>
              <p>Where does faith fit into religious Transhumanism? Are religious Transhumanists just faithless, closeted-atheists with no trust in God? What about grace? Are faith and grace relics of the past, left in the wake of a hubris pursuit of godhood? Have these religious Transhumanists lost their minds!?! Blaire will offer insights into these questions and more during a light-hearted presentation explaining how faith, works, grace, and tacos fit into Transhumanist theology.</p>
              <br>

              <div class="row" id="blaire-ostler">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/blaire_ostler_2" alt="Blaire ostler 2">
  </div>
  <div class="col-md-9">
    <p><strong>Blaire Ostler</strong> is a philosopher and leading voice at the intersection of queer, Mormon,  and transhumanist thought. She is a board member and former CEO of the Mormon Transhumanist Association, the world's largest advocacy network for the ethical use of technology and religion to expand human abilities. She presents and writes on many forums, and speaks at conferences promoting authentic Mormonism. Blaire holds a degree in design from the International Academy of Design and Technology-Seattle. She is currently pursuing a second degree in philosophy with an emphasis in gender studies. She is also an artist, and spends her spare time hiking, painting, writing, and bickering with her friends about almost any topic imaginable. Blaire and husband Drew reside in Utah with their three children.</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#11-45" class="accordion-toggle" style="">
          <th scope="row">11:45</th>
            <td>J Jeanine Thweatt, Braden Molhoek, Buckley Rue, Fred DeFalco</td>
            <td>What does it mean to be Human?</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="11-45" style="padding: 8px;">
              <h4>What does it mean to be Human?</h4>
              <p>Are we becoming Superhuman? Posthuman? Metahuman?</p>
              <br>

              <div class="row" id="j-jeanine-thweatt">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/jeanine_thweatt_250" alt="Jeanine thweatt 250">
  </div>
  <div class="col-md-9">
    <p><strong>J. Jeanine Thweatt</strong> holds a Ph.D. in Theology and Science from Princeton Theological Seminary, and has taught at Princeton Theological Seminary, New Brunswick Theological Seminary, and Flagler College. She is the author of&nbsp;<a href="https://smile.amazon.com/Cyborg-Selves-Theological-Anthropology-Posthuman/dp/1409421414/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=ll1&amp;tag=micahredding-20&amp;linkId=0f54bc19287a7e1e5061013b8eb2a5f9&amp;language=en_US">Cyborg Selves: A Theological Anthropology of the Posthuman</a>.</p>

    
  </div>
</div>
<div class="row" id="braden-molhoek">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/braden_molhoek" alt="Braden molhoek">
  </div>
  <div class="col-md-9">
    <p><strong>Braden Molhoek</strong> has a B.A. with a double major in <strong>Genetics and Religion</strong> from Ohio Wesleyan University, an M.T.S. from Boston University, and a Ph.D. from the Graduate Theological Union in Ethics and Social Theory. He currently works at the <strong>Center for Theology and the Natural Sciences</strong> and is an Adjunct Professor at the Graduate Theological Union and Santa Clara University. His research interests include how science shapes theological anthropology, virtue ethics, transhumanism, ethics and technology, and bioethics.</p>

    
  </div>
</div>
<div class="row" id="buckley-rue">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/buckley_rue" alt="Buckley rue">
  </div>
  <div class="col-md-9">
    <p><strong>Buckley Rue</strong> has a Bachelors in Religious Studies from UT Austin. Buckley graduated from the University of Texas in 2015 with a degree in Religious Studies and minor in Psychology. He is about to publish his first novel, and has contributed to blogs such as Timewheel, Esoteric Empyre, and Compose Yourself Mag, where his work centers around Neo-Hermeticism, and the emergence of a global society.</p>

    
  </div>
</div>
<div class="row" id="fred-defalco">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/fred_defalco" alt="Fred defalco">
  </div>
  <div class="col-md-9">
    <p><strong>Fred DeFalco</strong> calls himself a recovering theologian who has been on the wagon since 2000. He claims he has found the key to Spiritual Sobriety ®. In his full-time world, he is a seasoned Senior Executive, Business Consultant, Personal Coach and Entrepreneur with more than 40 years of business success. He is an asset for companies seeking expert advisory in the areas of crisis management, reorganizations, performance management, productivity improvement, turnarounds, rapid growth, or product development. His broad areas of expertise include emotional intelligence in business development, strategic planning, market share growth strategies, sales production on steroids, and alternative dispute resolution.</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#12-15pm" class="accordion-toggle" style="background-color: lightgreen;">
          <th scope="row">12:15pm</th>
            <td colspan="2"><strong>LUNCH ON MARS</strong> — with National Geographic</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="12-15pm" style="padding: 8px;">
              <h4><strong>LUNCH ON MARS</strong> — with National Geographic</h4>
              <p>National Geographic will provide free food &amp; drink for all registrants — plus a special advance screening of their docu-series MARS. Mars Season 2 premieres on November 12; we’ll get an exclusive sneak peek while we eat.<br><br>
&gt; <a href="https://www.nationalgeographic.com/tv/watch/0a055bfd3907aa0382bcfa468939cfd1/">Watch the Trailer for MARS</a>
</p>
              <br>

              
          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#1-15pm" class="accordion-toggle" style="">
          <th scope="row">1:15pm</th>
            <td>Mark Russell, Neal Locke, Mike Morrell</td>
            <td>BREAKOUT SESSIONS</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="1-15pm" style="padding: 8px;">

              <div class="row" id="mark-russell">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/mark_russell" alt="Mark russell">
  </div>
  <div class="col-md-9">
    <p><strong>Mark Russell</strong> is an inventor, serial entrepreneur, passionate futurist, and committed Christian. As an entrepreneur, Mark is the founder of numerous ventures including an email delivery platform, several service businesses and most recently, rockingbed.com. Mark also owns and operates 770-Arborist, one of the more successful tree healthcare companies in Atlanta. As a futurist, Mark is fascinated with the intersection of faith and technology. His upcoming book, Immeasurably More, celebrates the coming AI abundance and explores the connections between technology and the Bible. Mark lives with his wife Lori and their four children on a small farm in North Atlanta.</p>

    
  </div>
</div>
<div class="row" id="neal-locke">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/13312916_10154308095693203_1178001960440014529_n_tkis3p" alt="13312916 10154308095693203 1178001960440014529 n tkis3p">
  </div>
  <div class="col-md-9">
    <p>Neal Locke is a former High School English teacher,  current Presbyterian pastor, and future monastic bicentenarian. He holds an  M.Div. and a Master of Arts in Education, both from Princeton Theological Seminary. He is a husband and a father of three who enjoys using open source software, building virtual environments, and brewing his own beer.  Ever the pioneer, Neal wrote his first program on a Commodore 64 in 1983, designed his first website in 1995, and was recognized by EdTech magazine in 2004 for being one of the first teachers in the nation to incorporate blogging in the classroom. In 2009 Neal helped to organize 1PCSL — a Presbyterian community that gathers weekly in the online virtual world of Second Life. Neal can be reached via Facebook, twitter, and Google+ using the handle “mstrlocke,” in Second Life via his avatar “Neill Loxingly,” and via his website at mrlocke.net.</p>

    
  </div>
</div>
<div class="row" id="mike-morrell">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/mike_morrell.jpg" alt="Mike morrell">
  </div>
  <div class="col-md-9">
    <p><strong>Mike Morrell</strong> is the collaborating author, with Fr. Richard Rohr, on the best-selling 'Divine Dance: The Trinity and Your Transformation,' founder of Wisdom Camp, and a founding organizer of the justice, arts, and spirituality Wild Goose Festival. Mike curates contemplative and community experiences via Relational Yoga, the ManKind Project, and Authentic North Carolina, taking joy in holding space for the extraordinary transformation that can take place at the intersection of anticipation, imagination, and radical acceptance. Mike lives with his wife and two daughters in Asheville, North Carolina. You can read Mike’s ongoing exploration of Spirit, Culture, and Permaculture at MikeMorrell.org.</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#1-45pm" class="accordion-toggle" style="">
          <th scope="row">1:45pm</th>
            <td>Derek Webb</td>
            <td>CTRL</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="1-45pm" style="padding: 8px;">

              <div class="row" id="derek-webb">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/derek_webb" alt="Derek webb">
  </div>
  <div class="col-md-9">
    <p><strong>Derek Webb</strong> is a folk musician from Nashville, TN. As a member of <em>Caedmon’s Call</em>, Webb has seen career sales approaching 1 million records, along with 10 GMA Dove Award nominations, three Dove Award wins, and six Number 1 Christian radio hits. As a solo artist, he has released seven studio albums. He is the founder of <em>NoiseTrade</em>, a ground-breaking site which empowers artists to connect directly with their fans.</p>

<p>Derek Webb will be performing selections from <strong>CTRL</strong>, an A.I.-based concept album.</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#2-15pm" class="accordion-toggle" style="">
          <th scope="row">2:15pm</th>
            <td>Scott Hawley</td>
            <td>Envisioning a Future of AI Public Servants</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="2-15pm" style="padding: 8px;">

              <div class="row" id="scott-hawley">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/scott_hawley" alt="Scott hawley">
  </div>
  <div class="col-md-9">
    <p><strong>Scott Hawley</strong> is Associate Professor of Physics at Belmont University, and a computational physicist and machine learning app developer. He spent the summer in Oxford on a Templeton-funded grant for the project "Christian Responses to the Ascendancy of Artificial Intelligence".</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#2-30pm" class="accordion-toggle" style="">
          <th scope="row">2:30pm</th>
            <td>Kimberly Lannear, Scott Hawley, Lee Camp, Ben Howard</td>
            <td>How is technology disrupting faith?</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="2-30pm" style="padding: 8px;">

              <div class="row" id="ben-howard">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/ben_howard" alt="Ben howard">
  </div>
  <div class="col-md-9">
    <p><strong>Ben Howard</strong> is a writer, podcast host, and lead editor at Abingdon Press. He received his Master’s in Theological Studies from Lipscomb University and currently resides in Nashville. He has been described by his friends as “a huggable muppet” and “not intimidating.”</p>

    
  </div>
</div>
<div class="row" id="kimberly-lannear">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/kimberly_lannear" alt="Kimberly lannear">
  </div>
  <div class="col-md-9">
    <p><strong>Kimberly Lannear</strong> is the CEO and founder of <strong>Scripturally Sound</strong>, a platform which uses technology to connect Christian education and music.</p>

    
  </div>
</div>
<div class="row" id="scott-hawley">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/scott_hawley" alt="Scott hawley">
  </div>
  <div class="col-md-9">
    <p><strong>Scott Hawley</strong> is Associate Professor of Physics at Belmont University, and a computational physicist and machine learning app developer. He spent the summer in Oxford on a Templeton-funded grant for the project "Christian Responses to the Ascendancy of Artificial Intelligence".</p>

    
  </div>
</div>
<div class="row" id="lee-camp">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/lee_camp" alt="Lee camp">
  </div>
  <div class="col-md-9">
    <p><strong>Lee C. Camp</strong> (Ph.D., University of Notre Dame) is <strong>Professor of Theology and Ethics</strong> in the Hazelip School of Theology at Lipscomb University, and the creator and Executive Producer of <a href="https://www.tokensshow.com/" target="_blank">Tokens</a>, a popular, long-running music and variety show, envisioning a world governed by hospitality, graciousness and joy; life marked by beauty, wonder and truthfulness; and social conditions ordered by justice, mercy and peace-making.</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#3-00pm" class="accordion-toggle" style="background-color: lightgreen;">
          <th scope="row">3:00pm</th>
            <td colspan="2">BREAK — <em>and giveaways!</em></td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="3-00pm" style="padding: 8px;">

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#3-15pm" class="accordion-toggle" style="">
          <th scope="row">3:15pm</th>
            <td>Aubrey de Grey</td>
            <td>Transhumanism is pro-human: highlighting the anti-suffering alignment of pioneering technology with religion</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="3-15pm" style="padding: 8px;">

              <div class="row" id="aubrey-de-grey">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/wiucxmm8c2glvgkjnyrm" alt="Wiucxmm8c2glvgkjnyrm">
  </div>
  <div class="col-md-9">
    <p><strong>Aubrey de Grey</strong> is a scientist working to end aging, and create biological immortality. How might that change what it means to be human? How might that challenge or inspire faith?</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#4-15pm" class="accordion-toggle" style="background-color: lightgreen;">
          <th scope="row">4:15pm</th>
            <td colspan="2">BREAK — <em>and giveaways!</em></td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="4-15pm" style="padding: 8px;">

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#4-25pm" class="accordion-toggle" style="">
          <th scope="row">4:25pm</th>
            <td>Neal Locke, Aubrey de Grey, Micah Redding</td>
            <td>Should we live to be 500?</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="4-25pm" style="padding: 8px;">

              
          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#4-55pm" class="accordion-toggle" style="">
          <th scope="row">4:55pm</th>
            <td>Jonathan Gunnell</td>
            <td>Simulation Theory and the implications for Christian Transhumanism</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="4-55pm" style="padding: 8px;">
              <h4>Simulation Theory and the implications for Christian Transhumanism</h4>
              <p>Caravaggio’s “The Incredulity of St Thomas” is one of the finest paintings ever.  But what is going on in the scene? Is St Thomas now the patron saint of “those who verify for themselves”? Who’s heard the story of “Turtles all the way down”?  Does the “multiverse hypothesis” solve the philosophical problem of infinite regression?  Do we as Christians believe in a simulation?  What’s the difference between “Simulation” and “Creation”  (or tomayto v tomarto)?  Does physics, with the probability that in fact there are more than 4 dimensions offer any hints?</p>
              <br>

              <div class="row" id="jonathan-gunnell">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/jonathan_gunnell" alt="Jonathan gunnell">
  </div>
  <div class="col-md-9">
    <p><strong>Jonathan Gunnell</strong> is an Australian, Engineer, and Christian (mostly Anglican, but also Baptist and Charismatic/Pentecostal), who is keen to see Christianity impact the developing of A.I. governance systems and coming technological changes. Jonathan will be speaking on <strong>The Implications of the Simulation Argument for Christianity</strong>.</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#5-10pm" class="accordion-toggle" style="">
          <th scope="row">5:10pm</th>
            <td>Joseph Fisher</td>
            <td>The Re-Enchantment of the Secularization Thesis</td>

      </tr>
      <tr>
        <th scope="row" style="border: none; padding: 0"></th>
        <td colspan="2" style="border: none; padding: 0">
          <div class="accordion-body collapse" id="5-10pm" style="padding: 8px;">
              <h4>The Re-Enchantment of the Secularization Thesis</h4>
              <p>Joseph will examine how the rhetoric of secularization operates in popular transhumanist literature and what this tells us about what numerous scholars have called the “re-enchantment” of techno-science. Rather than signaling a straightforward displacement of religious values and ends—as early theorists of secularization suggested—secularization narratives are increasingly used to buttress a narrative in which techno-science fulfills ends that have long been associated with “traditional” religion. Consequently, we ought to understand the discourse of secularization itself as an essential part of techno-scientific re-enhancement.</p>
              <br>

              <div class="row" id="joseph-fisher">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/joseph_fisher" alt="Joseph fisher">
  </div>
  <div class="col-md-9">
    <p><strong>Joseph Fisher</strong> is a Ph.D. Candidate in the Department of Religion at Columbia University. His training is in the fields of American Religious History, Philosophy of Religion, and Science, Technology, and Religion. His dissertation focuses on the human enhancement debate in public bioethics and how the rhetoric of human nature operates within this discourse. He earned a B.A. from Franklin and Marshall College in Religious Studies before earning an M.A. and M.Phil. in Religion at Columbia University. Joseph's research is inspired by the ways in which technologies, real and speculative, reveal porous boundaries between the religious and the secular.</p>

    
  </div>
</div>

          </div>
        </td>
      </tr>
  </tbody>
  </table>
</section>



<section class="container">
  <h3 id="map">Conference Map</h3>
  <iframe src="https://www.google.com/maps/d/embed?mid=1wXD3DNxmpXgLpZp1Azp1JKI0kI_c6-NT" width="640" height="480"></iframe>

  <h3 id="venue">Venue</h3>
    <p>
      Lipscomb University<br>
      Ezell Center<br>
      Room 363
    </p>
    <p>
      <a href="">Google Map</a>
    </p>

  <h3 id="directions"><strong>Directions &amp; Best Place to Park</strong></h3>
  <p><strong>Belmont Blvd &amp; Allen Arena West (<a href="https://goo.gl/maps/P1PwfCWsMnC2">Google Map Directions</a>)</strong>. From the entrance on Belmont Blvd (NOT the main University entrance), park in the Allen Arena <em>West</em> Parking Garage. Walk out of the garage, across the roundabout, past the construction, and take the walkway to the Ezell Center. Inside the Ezell Center entrance, take the first elevator on your left, and go to the third floor. Follow signs to room.</p>

  <p><strong>Granny White &amp; Allen Arena East (<a href="https://goo.gl/maps/Ztt89qK7KF62">Google Map Directions</a>)</strong>. From the Granny White Pike entrance, park in the Allen Arena <em>East</em> Parking Garage. Walk past Allen Arena to the Ezell Center. Inside the Ezell Center entrance, take the first elevator on your left, and go to the third floor. Follow signs to room.</p>
</section>

<section class="container">
  <h3 id="giveaways">Free Stuff!</h3>

  <p>The first 100 people through the door receive <strong><em>Free <a href="https://thrivous.com/products/surge-acute-nootropic">Thrivous Nootropics</a></em></strong>. Doors open at 8:30am—so get there early, and start meeting people!</p>

  <p><em>There are giveaways at every break</em><strong>—drones! music! books!—and an Amazon Echo Plus smart-home starter kit</strong>. But you have to be present to win!</p>

  <p><strong><em>National Geographic is sponsoring lunch</em></strong>, and a free sneak preview of their new Mars series.</p>
</section>

<section class="container">
  <h3 id="topics">Choose the discussion topics:</h3>
  <p>Right after lunch, we're having breakout discussions on the topics you choose. Add your topics, and vote on other topics—in this poll:</p>
  <br>

  <p><a href="https://www.facebook.com/groups/ChristianTranshumanistAssociation/permalink/1070115786496013" class="btn-primary btn-lg" target="_blank">Vote in the Poll</a></p>
</section>

<section class="container">
  <h3 id="wifi">Conference Details</h3>
  <p>
    <strong>Wifi Network:</strong> LipscombGuest<br>
    <strong>Username:</strong> CTA<br>
    <strong>Password:</strong> 06703386<br>
  </p>
</section>

<section class="container">
  <h3 id="sponsors">Thanks to our generous sponsors!</h3>
  <ul>
    <li>Lipscomb University</li>
    <li><a href="https://www.nationalgeographic.com/tv/mars/">National Geographic</a></li>
    <li><a href="https://thrivous.com/products/clarity-natural-nootropic?rfsn=290966.02a00">Thrivous</a></li>
    <li><a href="https://www.cocreatorstech.com/">Co-Creators</a></li>
    <li>Thinking Christians Book Club</li>
    <li>Intellectual Society of Greater Nashville</li>
  </ul>

</section>

<section class="container text-center">
  <a class="btn-primary btn-lg" target="_blank" href="/join">Join the Association!</a>
</section>


<br><br><br>

<section class="container intro-section jumbotron" id="involved">
  <h2 style="margin-top: 0;">Could we live to be 500?</h2>
  <h2>Will A.I. be our friend—or our enemy?</h2>
  <h2>Will your children be born on Mars?</h2>
</section>

<section class="container intro-section">
  <h3>Science &amp; technology are changing what it means to be human.</h3>

  <h3><span style="color: #999;">Brain Implants, Artificial Intelligence, Radical Life Extension, Space Exploration, and Genetic Engineering...</span></h3>

  <h3>Another war between faith &amp; science?</h3>

  <h3>Or an opportunity for Science, Faith &amp; Technology to work together to create a better future?</h3>
  <br><br>
</section>

<section class="container text-center">
  <a class="btn-primary btn-lg" target="_blank" href="/join">Join the Association!</a>
</section>

<section class="container intro-section" id="keynote">
    <h3><em>Could we live to be 500?</em></h3>
    <div class="row" id="aubrey-de-grey">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/wiucxmm8c2glvgkjnyrm" alt="Wiucxmm8c2glvgkjnyrm">
  </div>
  <div class="col-md-9">
    <p><strong>Aubrey de Grey</strong> is a scientist working to end aging, and create biological immortality. How might that change what it means to be human? How might that challenge or inspire faith?</p>

    
  </div>
</div>

    <h3><em>Will A.I. be your friend—or your enemy?</em></h3>
    <div class="row" id="scott-hawley">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/scott_hawley" alt="Scott hawley">
  </div>
  <div class="col-md-9">
    <p><strong>Scott Hawley</strong> is Associate Professor of Physics at Belmont University, and a computational physicist and machine learning app developer. He spent the summer in Oxford on a Templeton-funded grant for the project "Christian Responses to the Ascendancy of Artificial Intelligence".</p>

    
  </div>
</div>
<div class="row" id="newton-lee">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/newton_lee" alt="Newton lee">
  </div>
  <div class="col-md-9">
    <p><strong>Newton Lee</strong> is an author, educator, and futurist. He was the founder of Disney Online Technology Forum, creator of AT&amp;T Bell Labs' first-ever commercial artificial intelligence tool, and inventor of the world's first annotated multimedia OPAC for the U.S. National Agricultural Library.</p>

<p>He is chairman of the California Transhumanist Party, education and media advisor to the United States Transhumanist Party, and president of the 501(c)(3) nonprofit Institute for Education, Research, and Scholarships.</p>

    
  </div>
</div>
<div class="row" id="derek-webb">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/derek_webb" alt="Derek webb">
  </div>
  <div class="col-md-9">
    <p><strong>Derek Webb</strong> is a folk musician from Nashville, TN. As a member of <em>Caedmon’s Call</em>, Webb has seen career sales approaching 1 million records, along with 10 GMA Dove Award nominations, three Dove Award wins, and six Number 1 Christian radio hits. As a solo artist, he has released seven studio albums. He is the founder of <em>NoiseTrade</em>, a ground-breaking site which empowers artists to connect directly with their fans.</p>

<p>Derek Webb will be performing selections from <strong>CTRL</strong>, an A.I.-based concept album.</p>

    
  </div>
</div>

    <h3><em>Will the rich leave us behind?</em></h3>
    <div class="row" id="jurnell-cockhren">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/jurnell_cockhren" alt="Jurnell cockhren">
  </div>
  <div class="col-md-9">
    <p><strong>Jurnell Cockhren</strong> has over a decade of experience in creating and contributing to Open Source software with a work history spanning Computer Science, Neuroscience, Optics and Astronomy providing him an enriched perspective of the applied sciences. He is the Founder of <strong>Civic Hacker</strong>, with the mission of: Be the source code of social change. Jurnell’s affiliations include <strong>Black in Tech Nashville</strong>, Python Software Foundation, N.A.A.C.P. and the National Society of Black Engineers.</p>

    
  </div>
</div>
<div class="row" id="ryan-hogan">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/ryan_hogan" alt="Ryan hogan">
  </div>
  <div class="col-md-9">
    <p><strong>Ryan Hogan</strong> is a futurist and a business analyst for Emerging Technologies at <strong>Mozilla</strong>. He has an MBA in Strategic Foresight, and has worked with companies like <strong>Lyft</strong> and <strong>Deep Space Ecology</strong> — to design open-ended sustainable futures, and to prepare for human life on Mars.</p>

    
  </div>
</div>
<div class="row" id="mike-morrell">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/mike_morrell.jpg" alt="Mike morrell">
  </div>
  <div class="col-md-9">
    <p><strong>Mike Morrell</strong> is the collaborating author, with Fr. Richard Rohr, on the best-selling 'Divine Dance: The Trinity and Your Transformation,' founder of Wisdom Camp, and a founding organizer of the justice, arts, and spirituality Wild Goose Festival. Mike curates contemplative and community experiences via Relational Yoga, the ManKind Project, and Authentic North Carolina, taking joy in holding space for the extraordinary transformation that can take place at the intersection of anticipation, imagination, and radical acceptance. Mike lives with his wife and two daughters in Asheville, North Carolina. You can read Mike’s ongoing exploration of Spirit, Culture, and Permaculture at MikeMorrell.org.</p>

    
  </div>
</div>
<div class="row" id="travis-kupp">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/travis_kupp.jpg" alt="Travis kupp">
  </div>
  <div class="col-md-9">
    <p><strong>Travis Kupp</strong> is a design strategist and futurist with a knack for helping organizations with over a century of history to envision futures and take action. As <strong>Design &amp; Strategic Foresight Lead</strong> at SunTrust, Travis is actively creating the future of banking and financial services drawing on his experience with distributed ledger technology, mobility-as-a-service, and transactive energy. When not leading futures engagements he collects hobbies, which now include bartending, music production, sailing, woodworking, and Aikido. Travis also organizes the Atlanta chapter of the Speculative Futures meetup group.</p>

    
  </div>
</div>

    <h3><em>What is the future of faith?</em></h3>
    <div class="row" id="blaire-ostler">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/blaire_ostler_2" alt="Blaire ostler 2">
  </div>
  <div class="col-md-9">
    <p><strong>Blaire Ostler</strong> is a philosopher and leading voice at the intersection of queer, Mormon,  and transhumanist thought. She is a board member and former CEO of the Mormon Transhumanist Association, the world's largest advocacy network for the ethical use of technology and religion to expand human abilities. She presents and writes on many forums, and speaks at conferences promoting authentic Mormonism. Blaire holds a degree in design from the International Academy of Design and Technology-Seattle. She is currently pursuing a second degree in philosophy with an emphasis in gender studies. She is also an artist, and spends her spare time hiking, painting, writing, and bickering with her friends about almost any topic imaginable. Blaire and husband Drew reside in Utah with their three children.</p>

    
  </div>
</div>
<div class="row" id="lee-camp">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/lee_camp" alt="Lee camp">
  </div>
  <div class="col-md-9">
    <p><strong>Lee C. Camp</strong> (Ph.D., University of Notre Dame) is <strong>Professor of Theology and Ethics</strong> in the Hazelip School of Theology at Lipscomb University, and the creator and Executive Producer of <a href="https://www.tokensshow.com/" target="_blank">Tokens</a>, a popular, long-running music and variety show, envisioning a world governed by hospitality, graciousness and joy; life marked by beauty, wonder and truthfulness; and social conditions ordered by justice, mercy and peace-making.</p>

    
  </div>
</div>
<div class="row" id="kimberly-lannear">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/kimberly_lannear" alt="Kimberly lannear">
  </div>
  <div class="col-md-9">
    <p><strong>Kimberly Lannear</strong> is the CEO and founder of <strong>Scripturally Sound</strong>, a platform which uses technology to connect Christian education and music.</p>

    
  </div>
</div>
<div class="row" id="joseph-fisher">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/joseph_fisher" alt="Joseph fisher">
  </div>
  <div class="col-md-9">
    <p><strong>Joseph Fisher</strong> is a Ph.D. Candidate in the Department of Religion at Columbia University. His training is in the fields of American Religious History, Philosophy of Religion, and Science, Technology, and Religion. His dissertation focuses on the human enhancement debate in public bioethics and how the rhetoric of human nature operates within this discourse. He earned a B.A. from Franklin and Marshall College in Religious Studies before earning an M.A. and M.Phil. in Religion at Columbia University. Joseph's research is inspired by the ways in which technologies, real and speculative, reveal porous boundaries between the religious and the secular.</p>

    
  </div>
</div>
<div class="row" id="ben-howard">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/ben_howard" alt="Ben howard">
  </div>
  <div class="col-md-9">
    <p><strong>Ben Howard</strong> is a writer, podcast host, and lead editor at Abingdon Press. He received his Master’s in Theological Studies from Lipscomb University and currently resides in Nashville. He has been described by his friends as “a huggable muppet” and “not intimidating.”</p>

    
  </div>
</div>

    <h3><em>What does it mean to be human?</em></h3>
    <div class="row" id="ted-peters">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/Ted_20Peters_cam1ya.jpg" alt="Ted 20peters cam1ya">
  </div>
  <div class="col-md-9">
    <p><strong>Ted Peters</strong> is a Lutheran theologian and Professor of Systematic Theology at Pacific Lutheran Theological Seminary. He is author of&nbsp;GOD—The World’s Future&nbsp;(Fortress 2000) and&nbsp;Science, Theology, and Ethics&nbsp;(Ashgate 2003). He serves as editor of Theology and Science, by the Center for Theology and the Natural Sciences in Berkeley.</p>

    
  </div>
</div>
<div class="row" id="j-jeanine-thweatt">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/jeanine_thweatt_250" alt="Jeanine thweatt 250">
  </div>
  <div class="col-md-9">
    <p><strong>J. Jeanine Thweatt</strong> holds a Ph.D. in Theology and Science from Princeton Theological Seminary, and has taught at Princeton Theological Seminary, New Brunswick Theological Seminary, and Flagler College. She is the author of&nbsp;<a href="https://smile.amazon.com/Cyborg-Selves-Theological-Anthropology-Posthuman/dp/1409421414/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=ll1&amp;tag=micahredding-20&amp;linkId=0f54bc19287a7e1e5061013b8eb2a5f9&amp;language=en_US">Cyborg Selves: A Theological Anthropology of the Posthuman</a>.</p>

    
  </div>
</div>
<div class="row" id="braden-molhoek">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/braden_molhoek" alt="Braden molhoek">
  </div>
  <div class="col-md-9">
    <p><strong>Braden Molhoek</strong> has a B.A. with a double major in <strong>Genetics and Religion</strong> from Ohio Wesleyan University, an M.T.S. from Boston University, and a Ph.D. from the Graduate Theological Union in Ethics and Social Theory. He currently works at the <strong>Center for Theology and the Natural Sciences</strong> and is an Adjunct Professor at the Graduate Theological Union and Santa Clara University. His research interests include how science shapes theological anthropology, virtue ethics, transhumanism, ethics and technology, and bioethics.</p>

    
  </div>
</div>
<div class="row" id="buckley-rue">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/buckley_rue" alt="Buckley rue">
  </div>
  <div class="col-md-9">
    <p><strong>Buckley Rue</strong> has a Bachelors in Religious Studies from UT Austin. Buckley graduated from the University of Texas in 2015 with a degree in Religious Studies and minor in Psychology. He is about to publish his first novel, and has contributed to blogs such as Timewheel, Esoteric Empyre, and Compose Yourself Mag, where his work centers around Neo-Hermeticism, and the emergence of a global society.</p>

    
  </div>
</div>

    <h3><em>Can science, faith, and technology create a better future?</em></h3>
    <div class="row" id="jonathan-gunnell">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/jonathan_gunnell" alt="Jonathan gunnell">
  </div>
  <div class="col-md-9">
    <p><strong>Jonathan Gunnell</strong> is an Australian, Engineer, and Christian (mostly Anglican, but also Baptist and Charismatic/Pentecostal), who is keen to see Christianity impact the developing of A.I. governance systems and coming technological changes. Jonathan will be speaking on <strong>The Implications of the Simulation Argument for Christianity</strong>.</p>

    
  </div>
</div>
<div class="row" id="fred-defalco">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/fred_defalco" alt="Fred defalco">
  </div>
  <div class="col-md-9">
    <p><strong>Fred DeFalco</strong> calls himself a recovering theologian who has been on the wagon since 2000. He claims he has found the key to Spiritual Sobriety ®. In his full-time world, he is a seasoned Senior Executive, Business Consultant, Personal Coach and Entrepreneur with more than 40 years of business success. He is an asset for companies seeking expert advisory in the areas of crisis management, reorganizations, performance management, productivity improvement, turnarounds, rapid growth, or product development. His broad areas of expertise include emotional intelligence in business development, strategic planning, market share growth strategies, sales production on steroids, and alternative dispute resolution.</p>

    
  </div>
</div>
<div class="row" id="micah-redding">
  <div class="col-md-3">
    <img class="img-responsive" src="https://res.cloudinary.com/christian-transhumanist-association/image/upload/c_lfill,g_face,h_250,w_250/micah_redding_erika_chambers_bw_medium_cwvcih.jpg" alt="Micah redding erika chambers bw medium cwvcih">
  </div>
  <div class="col-md-9">
    <p><strong>Micah Redding</strong> is Executive Director of the Christian Transhumanist Association, and a software developer who has worked with companies like Dave Ramsey, the City of Franklin, and numerous startups. Redding grew up as a preacher's son, spent eight years as a rock musician, and has traveled extensively, including places such as Afghanistan during the war, and Tahrir Square during the revolution.</p>

    
  </div>
</div>

</section>

<br><br>

<section class="container text-center">
  <a class="btn-primary btn-lg" target="_blank" href="/join">Join the Association!</a>
</section>