---
title: Executive Director, Micah Redding
description: Science, Faith, and the Future
image: http://res.cloudinary.com/christian-transhumanist-association/image/upload/c_scale,w_400/v1492201376/micah_redding_erika_chambers_bw_medium_cwvcih.jpg
layout: associationPage
---

<h1>Executive Director</h1>
<p><em>The Board of the Christian Transhumanist Association is pleased to introduce the organization&rsquo;s first Executive Director - Mr. Micah Redding. We believe that Micah exudes the right combination of humility, dedication, thoughtfulness, and collegiality needed to serve this important role for the CTA. We are convinced that, in accepting this position, Micah will continue to be instrumental in helping to lead others to envision, develop and implement technology in ways that will help humanity to further participate in Christ&rsquo;s redeeming purposes for the world.</em></p>
<p><img style="float: left; margin-right: 20px;" src="http://res.cloudinary.com/christian-transhumanist-association/image/upload/c_scale,w_400/v1492201376/micah_redding_erika_chambers_bw_medium_cwvcih.jpg" alt="Micah Redding, executive director of the Christian Transhumanist Association" /></p>
<p><a href="http://micahredding.com/">Micah Redding</a>&nbsp;is a software developer and writer on the subject of human values and technology. He grew up as the son of a Church of Christ preacher, and is a fourth-generation graduate of a small Christian university.</p>
<p>As a software developer, he has worked with startups to tackle challenging business and technical problems, using insights from agile development and the open source community. His work on diverse mobile and web projects led him to create classes, lectures, and podcasts which aim to bridge the worlds of business and technological strategy, and help business leaders work confidently with software development teams.</p>
<p>Micah currently lives in Nashville, Tennessee, where he has helped to organize vibrant inter-religious dialogue, leading conversations between Christians, atheists, Buddhists, Baha&rsquo;is, and Muslims &mdash; and challenging Christians to think deeply about the meaning and significance of their faith. He spent several years promoting and working with a large annual charity walk, and has coordinated community events like cutting-edge art festivals and public conversations on technology and the future of the human race.</p>

<br />

<p><a href="mailto:micah@christiantranshumanism.org?subject=CTA%20Inquiry" class="btn-primary btn-md btn">Connect with Micah Redding &gt;</a></p>

