---
title: Frequently Asked Questions
description: Questions that everyone will be asking in the future
layout: resourcePage
---

<h1>Frequently Asked Questions</h1>
{% for faq in faqs %}
  <div class="row">
      <div class="col-md-12">
        <h3>{{ faq.question | safe  }}</h3>
        <p>{{ faq.answer | safe }}</p>
      </div>
  </div>
{% endfor %}
