---
layout: default.njk
body_classes: home
---

{% include 'shared/home-hero.njk' %}

{% include 'shared/home-featured-conversations.njk' %}

{% include 'shared/home-media.njk' %}

{% include 'shared/affirmation.njk' %}

{% include 'shared/join.njk' %}
