---
title: About our Logo
description: A bold future deserves a bold look
---

<div class="container">
  <h1>Logo Information</h1>

<p>We are the Christian Transhumanist Association. We're pursuing a better relationship between religion, technology, and the future of humanity. This means that we&rsquo;re potentially interested in things like space exploration, technological solutions to disease, and feeding the world.</p>
<p>You can read more about the association here:<br /><a href="https://www.christiantranshumanism.org/about">https://www.christiantranshumanism.org/about</a></p>
<p><strong>Themes and ideas?</strong></p>
<p>Part of the nature of The Christian Transhumanist Association, is that we are implicitly connecting the ideas of Christianity and the idea of transhumanism, or &ldquo;humanity+&rdquo;.</p>
<p>The transhumanist movement is a very diverse movement, with many ideas we like, and many we don&rsquo;t. But the basic concepts are about humanity reaching forward, rising upward, seeking transcendence. It is focused on the future, and often focused on technology and space exploration.</p>
<p>Similarly, in Christianity, we are humans &ldquo;made in the image of God&rdquo;. We pursue heaven and transcendence and immortality.</p>
<p><strong>Common symbols for Christianity are:</strong></p>
<p>+ &nbsp; (the cross)<br />&nbsp; &nbsp; &nbsp;(the fish, or &ldquo;icthus&rdquo; symbol)<br />X &nbsp; (Greek letter &ldquo;Chi&rdquo; which is short for &ldquo;Christ&rdquo;, as in Xmas)<br />XP (Greek letters &ldquo;ChiRho&rdquo; which are also short for &ldquo;Christ&rdquo;)<br />&nbsp; &nbsp; &nbsp;(X and P superimposed, in a circle)<br />XC (another Greek abbreviation for Christ)<br />A &nbsp; (Greek letter Alpha, for beginning, and Omega, for end)</p>
<p>&nbsp;</p>
<p><strong>Common symbols for transhumanism are:</strong></p>
<p>humanity+<br />h+<br />&gt;h (greater than human)</p>
<p>&nbsp;</p>
<p><strong>Symbols that have been talked about in the Christian Transhumanist community are:</strong></p>
<p>h++ (humanity plus even more)<br />h^ &nbsp; (humanity raised to a higher power)<br />h+ &nbsp; (humanity raised to a higher power, but the higher power is a cross)</p>
<p>x+ (looks like h+)<br />x+ (x is for Christ, as in Xmas)<br />x+ (the plus is also a cross)<br />x+ (the + is really T for Transhumanist)<br />x+ (the X stands for Christian, and the T for Transhumanist, as in the Christian Transhumanist Association)</p>
<p>x+a (the Christian Transhumanist Association)<br />cta &nbsp;(the Christian Transhumanist Association)<br />c+a (the Christian Transhumanist Association)</p>
<p>(see this sketch of an idea for a C+ logo, which stands for Christian Transhumanism, and has the &ldquo;+&rdquo; and cross, and which is circular, like the world)</p>
<p><img src="c_logo.jpg" alt="c_logo.jpg" width="320" height="524" /></p>
<p>&nbsp;</p>
<p><strong>Other</strong></p>
<p>Link to a new transhumanist logo and treatment:<br /><a href="http://raszl.com/blog/transhumanism-logo">http://raszl.com/blog/transhumanism-logo</a></p>
<p>Links to existing transhumanist logos:</p>
<ul>
<li><a href="http://www.thenewatlantis.com/imgLib/20100609_h+logo.jpg">http://www.thenewatlantis.com/imgLib/20100609_h+logo.jpg</a></li>
<li><a href="http://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Transhumanism_h%2B_2.svg/2000px-Transhumanism_h%2B_2.svg.png">http://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Transhumanism_h%2B_2.svg/2000px-Transhumanism_h%2B_2.svg.png</a></li>
</ul>
<p><br />A similar organization to ours, which also connects religion and transhumanism, is the Mormon Transhumanist Association. Their logo plays up the connection between their past, and their hope for the future. It&rsquo;s almost a little steampunk.</p>
<p><a href="http://transfigurism.org/assets/79/mta-logo.png">http://transfigurism.org/assets/79/mta-logo.png</a></p>
<p>&nbsp;</p>

</div>