---
title: Nashville Christianity and Transhumanism Meetup
layout: communityPage
---

<div class="jumbotron" style="background-color: white;">

  <h1>Meetup in Nashville!</h1>

  <p>Every month, a group of us meet for an open-ended conversation on science and spirituality, religion and technology. Everyone is welcome, at every level of knowledge, and at every step in the faith journey.</p>

  <p>Sign up below, and we'll send you an invite to our next event!</p>

</div>

{% include 'shared/join_minimal.njk' %}
