---
title: Christian Transhumanist Podcast
description: Explore Christianity and Transhumanism, with provocative guests from the leading edges of science and theology.
layout: default
---
<div class="blog-page">
{% include 'shared/content_topbar.njk' %}

<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <div class="podcast-hero">
                {% if podcast and podcast.length %}
                    {% set latest = podcast[0] %}
                    {% set cover = latest.showImage or latest.itunes.image %}
                    {% if cover %}
                    <div class="podcast-index-cover">
                        <img src="{{ cover }}" alt="Christian Transhumanist Podcast cover art" loading="lazy" />
                    </div>
                    {% endif %}
                {% endif %}
                <div class="podcast-hero__content">
                    <h1 class="page-header">
                        The Christian Transhumanist Podcast <br />
                        <small class="text-muted">Explore Christianity and Transhumanism, with provocative guests from the leading edges of science and theology.</small> <br />
                        <div class="podcast-hero__actions">
                            <a class="btn btn-primary" href="https://itunes.apple.com/us/podcast/christian-transhumanist-podcast/id1053762042">iTunes</a>
                            <a class="btn btn-primary" href="http://brickcaster.com/christiantranshumanist/subscribe">email</a>
                            <a class="btn btn-primary" href="http://brickcaster.com/christiantranshumanist.rss">RSS</a>
                            <a class="btn btn-primary" href="https://www.youtube.com/watch?v=sj0xITgHvx8&list=PL-S97LROgRNy8GQORBQ6opBCITdM4dP2O&index=15">YouTube</a>
                        </div>
                    </h1>
                </div>
            </div>


            <div class="podcast-episode-list">
            {% for post in podcast %}
                <div class="row">
                    <div class="col-md-4">
                                                                        <a class="media-thumb" href="/podcast/{{ (post.guid | episodeNumberFromRSSGUID) | replace('/', '') }}/">
                                                                            <img
                                                                                src="{{ post.itunes.image | cdnImage('c_fill,g_auto,w_420,h_420,f_auto,q_auto,dpr_auto') }}"
                                                                                srcset="{{ post.itunes.image | cdnImage('c_fill,g_auto,w_320,h_320,f_auto,q_auto,dpr_auto') }} 320w, {{ post.itunes.image | cdnImage('c_fill,g_auto,w_420,h_420,f_auto,q_auto,dpr_auto') }} 420w, {{ post.itunes.image | cdnImage('c_fill,g_auto,w_720,h_720,f_auto,q_auto,dpr_auto') }} 720w"
                                                                                sizes="(max-width: 576px) 100vw, 33vw"
                                                                                alt="{{ post.title }}"
                                                                                loading="lazy">
                                                                        </a>
                    </div>

                    <div class="col-md-8">
                        {% if post.isoDateObject %}
                            {% set publishedLabel = post.isoDateObject | date('MMMM d, yyyy') %}
                        {% else %}
                            {% set publishedLabel = post.pubDate %}
                        {% endif %}
                        <h2>
                            <a href="/podcast/{{ (post.guid | episodeNumberFromRSSGUID) | replace('/', '') }}/">{{ post.title }}</a>
                        </h2>

                        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ publishedLabel }}</p>

                        <p>{{ post.content | safe }}</p>
                    </div>
                </div>

                <hr>

            {% endfor %}
            </div>

            {% if @pager_widget_on %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>
            {% endif %}

        </div>
        <div class="col-lg-4">
            <div class="well site-sidebar">
                {% include 'shared/sidebar_nav.njk' %}
            </div>

            <div class="well site-sidebar">
                <h4>Guests</h4>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            {% for guest in guests %}
                                <li><a href="{{ guest.url }}">{{ guest.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div>
                    <p>&mdash;</p>
                    <p>The <a href="http://christiantranshumanistpodcast.com">Christian Transhumanist Podcast</a> is an editorially independent production of Micah Redding, provided here as a community resource on behalf of the CTA.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    
</div>
<!-- /.container -->
</div>
