---
title: Volunteer Opportunities in Christianity and Transhumanism
description: Significant efforts take significant effort.
layout: default
---

{% include 'shared/community_topbar.njk' %}

<div class="container">
  <h1>Volunteer Opportunities</h1>

  <br />

  <div class="row">
    <div class="col-md-4">
      <h4><a href="mailto:admin@christiantranshumanism.org?subject=Volunteer">Video Editing and Production</a></h4>
      <p>Looking for expertise in video editing or creation, or access to video production equipment.</p>
    </div>
    <div class="col-md-4">
      <h4><a href="mailto:admin@christiantranshumanism.org?subject=Volunteer">Google Advertising</a></h4>
      <p>Looking for expertise in Google AdWords and analytics.</p>
    </div>
    <div class="col-md-4">
      <h4><a href="mailto:admin@christiantranshumanism.org?subject=Volunteer">In-Depth Articles</a></h4>
      <p>Looking for well-researched and informative articles on current topics in science and technology. Biotechnology, gene editing, virtual reality, brain interfacing, 3D organ printing, etc.</p>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-12">
      <p>Send us a <a href="mailto:admin@christiantranshumanism.org?subject=Volunteer">message</a> if you can help!</p>
    </div>
  </div>
</div>